In [75]:
import pandas as pd
df = pd.DataFrame({'name':['jang','yang','oh'],'dept':['com','eng','math'],'score':[100,90,95]})
df

   name  dept  score
0  jang   com    100
1  yang   eng     90
2    oh  math     95

In [73]:
name = pd.Series(['jang','yang','oh'])
name

0    jang
1    yang
2      oh
dtype: object

In [4]:
import pandas as pd
df = pd.read_csv('data/Machine_Learning/exam.csv')
df

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [6]:
df = pd.read_excel('data/Machine_Learning/code.xlsx')
df

  학과코드   학과명
0  A01   컴퓨터
1  A02    국문
2  A03    영문
3  A04    경영
4  A05    경제
5  A06  전자공학
6  A07  기계설비
7  A99   디자인

In [8]:
import pandas as pd
filename = 'data/Machine_Learning/music.csv'
df = pd.read_csv(filename)
df

,title,singer,personnel,sortation,release_date,agency,genre,type
0,좋은날,아이유,1,솔로,2010-12-09,카카오엔터테인먼트,발라드,EP
1,내가제일잘나가,2NE1,4,그룹,2011-06-24,YG엔터테인먼트,댄스,싱글
2,강남스타일,싸이,1,솔로,2012-07-15,YG엔터테인먼트,힙합,정규
3,첫사랑니,f(x),5,그룹,2013-07-29,SM엔터테인먼트,댄스,정규
4,위아래,EXID,4,그룹,2014-08-27,바나나컬쳐,댄스,싱글
5,Ah-Choo,러블리즈,8,그룹,2015-10-01,울림엔터테인먼트,댄스,EP
6,피땀눈물,방탄소년단,7,그룹,2016-10-10,빅히트뮤직,R&B,정규
7,시간을달려서,여자친구,6,그룹,2016-01-25,쏘스뮤직,댄스,EP
8,빨간맛,레드벨벳,5,그룹,2017-07-09,SM엔터테인먼트,댄스,EP
9,에너제틱,워너원,11,그룹,2017-08-07,"YMC엔터테인먼트, 스톤뮤직엔터테인먼트",댄스,EP
10,뚜두뚜두,블랙핑크,4,그룹,2018-06-15,YG엔터테인먼트,댄스,EP
11,달라달라,있지,5,그룹,2019-02-12,JYP엔터테인먼트,댄스,싱글
12,Dynamite,방탄소년단,7,그룹,2020-08-21,빅히트뮤직,댄스,싱글

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         13 non-null     object
 1   singer        13 non-null     object
 2   personnel     13 non-null     int64
 3   sortation     13 non-null     object
 4   release_date  13 non-null     object
 5   agency        13 non-null     object
 6   genre         13 non-null     object
 7   type          13 non-null     object
dtypes: int64(1), object(7)
memory usage: 964.0+ bytes

In [11]:
df.head()

     title singer  personnel sortation release_date     agency genre type
0      좋은날    아이유          1        솔로   2010-12-09  카카오엔터테인먼트   발라드   EP
1  내가제일잘나가   2NE1          4        그룹   2011-06-24   YG엔터테인먼트    댄스   싱글
2    강남스타일     싸이          1        솔로   2012-07-15   YG엔터테인먼트    힙합   정규
3     첫사랑니   f(x)          5        그룹   2013-07-29   SM엔터테인먼트    댄스   정규
4      위아래   EXID          4        그룹   2014-08-27      바나나컬쳐    댄스   싱글

In [13]:
df.tail()

,title,singer,personnel,sortation,release_date,agency,genre,type
8,빨간맛,레드벨벳,5,그룹,2017-07-09,SM엔터테인먼트,댄스,EP
9,에너제틱,워너원,11,그룹,2017-08-07,"YMC엔터테인먼트, 스톤뮤직엔터테인먼트",댄스,EP
10,뚜두뚜두,블랙핑크,4,그룹,2018-06-15,YG엔터테인먼트,댄스,EP
11,달라달라,있지,5,그룹,2019-02-12,JYP엔터테인먼트,댄스,싱글
12,Dynamite,방탄소년단,7,그룹,2020-08-21,빅히트뮤직,댄스,싱글

In [14]:
df.head(10)

,title,singer,personnel,sortation,release_date,agency,genre,type
0,좋은날,아이유,1,솔로,2010-12-09,카카오엔터테인먼트,발라드,EP
1,내가제일잘나가,2NE1,4,그룹,2011-06-24,YG엔터테인먼트,댄스,싱글
2,강남스타일,싸이,1,솔로,2012-07-15,YG엔터테인먼트,힙합,정규
3,첫사랑니,f(x),5,그룹,2013-07-29,SM엔터테인먼트,댄스,정규
4,위아래,EXID,4,그룹,2014-08-27,바나나컬쳐,댄스,싱글
5,Ah-Choo,러블리즈,8,그룹,2015-10-01,울림엔터테인먼트,댄스,EP
6,피땀눈물,방탄소년단,7,그룹,2016-10-10,빅히트뮤직,R&B,정규
7,시간을달려서,여자친구,6,그룹,2016-01-25,쏘스뮤직,댄스,EP
8,빨간맛,레드벨벳,5,그룹,2017-07-09,SM엔터테인먼트,댄스,EP
9,에너제틱,워너원,11,그룹,2017-08-07,"YMC엔터테인먼트, 스톤뮤직엔터테인먼트",댄스,EP

In [15]:
df.tail(10)

,title,singer,personnel,sortation,release_date,agency,genre,type
3,첫사랑니,f(x),5,그룹,2013-07-29,SM엔터테인먼트,댄스,정규
4,위아래,EXID,4,그룹,2014-08-27,바나나컬쳐,댄스,싱글
5,Ah-Choo,러블리즈,8,그룹,2015-10-01,울림엔터테인먼트,댄스,EP
6,피땀눈물,방탄소년단,7,그룹,2016-10-10,빅히트뮤직,R&B,정규
7,시간을달려서,여자친구,6,그룹,2016-01-25,쏘스뮤직,댄스,EP
8,빨간맛,레드벨벳,5,그룹,2017-07-09,SM엔터테인먼트,댄스,EP
9,에너제틱,워너원,11,그룹,2017-08-07,"YMC엔터테인먼트, 스톤뮤직엔터테인먼트",댄스,EP
10,뚜두뚜두,블랙핑크,4,그룹,2018-06-15,YG엔터테인먼트,댄스,EP
11,달라달라,있지,5,그룹,2019-02-12,JYP엔터테인먼트,댄스,싱글
12,Dynamite,방탄소년단,7,그룹,2020-08-21,빅히트뮤직,댄스,싱글

In [35]:
data_count=df.describe().get('count')
print(data_count)

None

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         13 non-null     object
 1   singer        13 non-null     object
 2   personnel     13 non-null     int64
 3   sortation     13 non-null     object
 4   release_date  13 non-null     object
 5   agency        13 non-null     object
 6   genre         13 non-null     object
 7   type          13 non-null     object
dtypes: int64(1), object(7)
memory usage: 964.0+ bytes

In [36]:
df.describe(include='object')

       title singer sortation release_date    agency genre type
count     13     13        13           13        13    13   13
unique    13     12         2           13         9     4    3
top      좋은날  방탄소년단        그룹   2010-12-09  YG엔터테인먼트    댄스   EP
freq       1      2        11            1         3    10    6

In [37]:
df.shape

(13, 8)

In [38]:
df.index

RangeIndex(start=0, stop=13, step=1)

In [39]:
df.columns

Index(['title', 'singer', 'personnel', 'sortation', 'release_date', 'agency',
       'genre', 'type'],
      dtype='object')