In [1]:
import pandas as pd
df = pd.DataFrame({'food':['버거킹','맥도날드','롳데리아'],'price':[5000,4500,4000],'rating':[5.0,4.5,4.3]})
df

   food  price  rating
0   버거킹   5000     5.0
1  맥도날드   4500     4.5
2  롳데리아   4000     4.3

In [12]:
df.columns=['장소','맥도날드','롳데리아']
df.head()

     장소  맥도날드  롳데리아
0   버거킹  5000   5.0
1  맥도날드  4500   4.5
2  롳데리아  4000   4.3

In [13]:
#2
import pandas as pd
import seaborn as sns
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [14]:
tips[tips['tip']>=7]

     total_bill    tip   sex smoker  day    time  size
23        39.42   7.58  Male     No  Sat  Dinner     4
170       50.81  10.00  Male    Yes  Sat  Dinner     3
212       48.33   9.00  Male     No  Sat  Dinner     4

In [34]:
#2-2 여성 , 비흡연자
conditions = (tips['sex']=='Female') & (tips['smoker']=='No')
tips[conditions].head()

    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
4        24.59  3.61  Female     No  Sun  Dinner     4
11       35.26  5.00  Female     No  Sun  Dinner     4
14       14.83  3.02  Female     No  Sun  Dinner     2
16       10.33  1.67  Female     No  Sun  Dinner     3

In [41]:
#2-3팁을 가장 많이 지불한 고객
tips['tip']==tips['tip'].max()
tips[tips['tip']==tips['tip'].max()]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [65]:
#2-4
tips.sort_values(by=['total_bill','tip'] ,ascending=False)[:10]

     total_bill    tip     sex smoker   day    time  size  total
170       50.81  10.00    Male    Yes   Sat  Dinner     3  60.81
212       48.33   9.00    Male     No   Sat  Dinner     4  57.33
59        48.27   6.73    Male     No   Sat  Dinner     4  55.00
156       48.17   5.00    Male     No   Sun  Dinner     6  53.17
182       45.35   3.50    Male    Yes   Sun  Dinner     3  48.85
102       44.30   2.50  Female    Yes   Sat  Dinner     3  46.80
197       43.11   5.00  Female    Yes  Thur   Lunch     4  48.11
142       41.19   5.00    Male     No  Thur   Lunch     5  46.19
184       40.55   3.00    Male    Yes   Sun  Dinner     2  43.55
95        40.17   4.73    Male    Yes   Fri  Dinner     4  44.90

In [66]:
#2-5
tips.sort_values(by=['size','tip'] ,ascending=[False,True])[:10]

     total_bill   tip     sex smoker   day    time  size  total
125       29.80  4.20  Female     No  Thur   Lunch     6  34.00
143       27.05  5.00  Female     No  Thur   Lunch     6  32.05
156       48.17  5.00    Male     No   Sun  Dinner     6  53.17
141       34.30  6.70    Male     No  Thur   Lunch     6  41.00
187       30.46  2.00    Male    Yes   Sun  Dinner     5  32.46
216       28.15  3.00    Male    Yes   Sat  Dinner     5  31.15
142       41.19  5.00    Male     No  Thur   Lunch     5  46.19
185       20.69  5.00    Male     No   Sun  Dinner     5  25.69
155       29.85  5.14  Female     No   Sun  Dinner     5  34.99
153       24.55  2.00    Male     No   Sun  Dinner     4  26.55

In [58]:
tips['total'] = tips['total_bill']+tips['tip']

In [59]:
tips

     total_bill   tip     sex smoker   day    time  size  total
0         16.99  1.01  Female     No   Sun  Dinner     2  18.00
1         10.34  1.66    Male     No   Sun  Dinner     3  12.00
2         21.01  3.50    Male     No   Sun  Dinner     3  24.51
3         23.68  3.31    Male     No   Sun  Dinner     2  26.99
4         24.59  3.61  Female     No   Sun  Dinner     4  28.20
..          ...   ...     ...    ...   ...     ...   ...    ...
239       29.03  5.92    Male     No   Sat  Dinner     3  34.95
240       27.18  2.00  Female    Yes   Sat  Dinner     2  29.18
241       22.67  2.00    Male    Yes   Sat  Dinner     2  24.67
242       17.82  1.75    Male     No   Sat  Dinner     2  19.57
243       18.78  3.00  Female     No  Thur  Dinner     2  21.78

[244 rows x 8 columns]

In [75]:
data = tips.groupby('day')['tip'].mean()
pd.DataFrame(data)

           tip
day
Thur  2.771452
Fri   2.734737
Sat   2.993103
Sun   3.255132

In [86]:
#3
#1)코드
sample = (tips['day']=='Fri') | (tips['day']=='Sat')
tips[sample]
\

     total_bill   tip     sex smoker   day    time  size  total
2         21.01  3.50    Male     No   Sun  Dinner     3  24.51
3         23.68  3.31    Male     No   Sun  Dinner     2  26.99
4         24.59  3.61  Female     No   Sun  Dinner     4  28.20
5         25.29  4.71    Male     No   Sun  Dinner     4  30.00
7         26.88  3.12    Male     No   Sun  Dinner     4  30.00
..          ...   ...     ...    ...   ...     ...   ...    ...
232       11.61  3.39    Male     No   Sat  Dinner     2  15.00
234       15.53  3.00    Male    Yes   Sat  Dinner     2  18.53
238       35.83  4.67  Female     No   Sat  Dinner     3  40.50
239       29.03  5.92    Male     No   Sat  Dinner     3  34.95
243       18.78  3.00  Female     No  Thur  Dinner     2  21.78

[121 rows x 8 columns]

In [87]:
mean = tips['tip']>tips['tip'].mean()
tips[mean]

     total_bill   tip     sex smoker   day    time  size  total
2         21.01  3.50    Male     No   Sun  Dinner     3  24.51
3         23.68  3.31    Male     No   Sun  Dinner     2  26.99
4         24.59  3.61  Female     No   Sun  Dinner     4  28.20
5         25.29  4.71    Male     No   Sun  Dinner     4  30.00
7         26.88  3.12    Male     No   Sun  Dinner     4  30.00
..          ...   ...     ...    ...   ...     ...   ...    ...
232       11.61  3.39    Male     No   Sat  Dinner     2  15.00
234       15.53  3.00    Male    Yes   Sat  Dinner     2  18.53
238       35.83  4.67  Female     No   Sat  Dinner     3  40.50
239       29.03  5.92    Male     No   Sat  Dinner     3  34.95
243       18.78  3.00  Female     No  Thur  Dinner     2  21.78

[121 rows x 8 columns]

In [88]:
tips.loc[:,['total_bill','tip','total']]

     total_bill   tip  total
0         16.99  1.01  18.00
1         10.34  1.66  12.00
2         21.01  3.50  24.51
3         23.68  3.31  26.99
4         24.59  3.61  28.20
..          ...   ...    ...
239       29.03  5.92  34.95
240       27.18  2.00  29.18
241       22.67  2.00  24.67
242       17.82  1.75  19.57
243       18.78  3.00  21.78

[244 rows x 3 columns]

In [90]:
tips.sort_values('total', ascending=False)[:10]

     total_bill    tip     sex smoker   day    time  size  total
170       50.81  10.00    Male    Yes   Sat  Dinner     3  60.81
212       48.33   9.00    Male     No   Sat  Dinner     4  57.33
59        48.27   6.73    Male     No   Sat  Dinner     4  55.00
156       48.17   5.00    Male     No   Sun  Dinner     6  53.17
182       45.35   3.50    Male    Yes   Sun  Dinner     3  48.85
197       43.11   5.00  Female    Yes  Thur   Lunch     4  48.11
23        39.42   7.58    Male     No   Sat  Dinner     4  47.00
102       44.30   2.50  Female    Yes   Sat  Dinner     3  46.80
142       41.19   5.00    Male     No  Thur   Lunch     5  46.19
95        40.17   4.73    Male    Yes   Fri  Dinner     4  44.90