In [75]:
import pandas as pd
df = pd.DataFrame({'name':['jang','yang','oh'],'dept':['com','eng','math'],'score':[100,90,95]})
df

   name  dept  score
0  jang   com    100
1  yang   eng     90
2    oh  math     95

In [73]:
name = pd.Series(['jang','yang','oh'])
name

0    jang
1    yang
2      oh
dtype: object

In [4]:
import pandas as pd
df = pd.read_csv('data/Machine_Learning/exam.csv')
df

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [6]:
df = pd.read_excel('data/Machine_Learning/code.xlsx')
df

  학과코드   학과명
0  A01   컴퓨터
1  A02    국문
2  A03    영문
3  A04    경영
4  A05    경제
5  A06  전자공학
6  A07  기계설비
7  A99   디자인

In [3]:
import pandas as pd
filename = 'data/Machine_Learning/music.csv'
df = pd.read_csv(filename)
df

,title,singer,personnel,sortation,release_date,agency,genre,type
0,좋은날,아이유,1,솔로,2010-12-09,카카오엔터테인먼트,발라드,EP
1,내가제일잘나가,2NE1,4,그룹,2011-06-24,YG엔터테인먼트,댄스,싱글
2,강남스타일,싸이,1,솔로,2012-07-15,YG엔터테인먼트,힙합,정규
3,첫사랑니,f(x),5,그룹,2013-07-29,SM엔터테인먼트,댄스,정규
4,위아래,EXID,4,그룹,2014-08-27,바나나컬쳐,댄스,싱글
5,Ah-Choo,러블리즈,8,그룹,2015-10-01,울림엔터테인먼트,댄스,EP
6,피땀눈물,방탄소년단,7,그룹,2016-10-10,빅히트뮤직,R&B,정규
7,시간을달려서,여자친구,6,그룹,2016-01-25,쏘스뮤직,댄스,EP
8,빨간맛,레드벨벳,5,그룹,2017-07-09,SM엔터테인먼트,댄스,EP
9,에너제틱,워너원,11,그룹,2017-08-07,"YMC엔터테인먼트, 스톤뮤직엔터테인먼트",댄스,EP
10,뚜두뚜두,블랙핑크,4,그룹,2018-06-15,YG엔터테인먼트,댄스,EP
11,달라달라,있지,5,그룹,2019-02-12,JYP엔터테인먼트,댄스,싱글
12,Dynamite,방탄소년단,7,그룹,2020-08-21,빅히트뮤직,댄스,싱글

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         13 non-null     object
 1   singer        13 non-null     object
 2   personnel     13 non-null     int64
 3   sortation     13 non-null     object
 4   release_date  13 non-null     object
 5   agency        13 non-null     object
 6   genre         13 non-null     object
 7   type          13 non-null     object
dtypes: int64(1), object(7)
memory usage: 964.0+ bytes

In [5]:
df.head()

     title singer  personnel sortation release_date     agency genre type
0      좋은날    아이유          1        솔로   2010-12-09  카카오엔터테인먼트   발라드   EP
1  내가제일잘나가   2NE1          4        그룹   2011-06-24   YG엔터테인먼트    댄스   싱글
2    강남스타일     싸이          1        솔로   2012-07-15   YG엔터테인먼트    힙합   정규
3     첫사랑니   f(x)          5        그룹   2013-07-29   SM엔터테인먼트    댄스   정규
4      위아래   EXID          4        그룹   2014-08-27      바나나컬쳐    댄스   싱글

In [6]:
df.tail()

,title,singer,personnel,sortation,release_date,agency,genre,type
8,빨간맛,레드벨벳,5,그룹,2017-07-09,SM엔터테인먼트,댄스,EP
9,에너제틱,워너원,11,그룹,2017-08-07,"YMC엔터테인먼트, 스톤뮤직엔터테인먼트",댄스,EP
10,뚜두뚜두,블랙핑크,4,그룹,2018-06-15,YG엔터테인먼트,댄스,EP
11,달라달라,있지,5,그룹,2019-02-12,JYP엔터테인먼트,댄스,싱글
12,Dynamite,방탄소년단,7,그룹,2020-08-21,빅히트뮤직,댄스,싱글

In [7]:
df.head(10)

,title,singer,personnel,sortation,release_date,agency,genre,type
0,좋은날,아이유,1,솔로,2010-12-09,카카오엔터테인먼트,발라드,EP
1,내가제일잘나가,2NE1,4,그룹,2011-06-24,YG엔터테인먼트,댄스,싱글
2,강남스타일,싸이,1,솔로,2012-07-15,YG엔터테인먼트,힙합,정규
3,첫사랑니,f(x),5,그룹,2013-07-29,SM엔터테인먼트,댄스,정규
4,위아래,EXID,4,그룹,2014-08-27,바나나컬쳐,댄스,싱글
5,Ah-Choo,러블리즈,8,그룹,2015-10-01,울림엔터테인먼트,댄스,EP
6,피땀눈물,방탄소년단,7,그룹,2016-10-10,빅히트뮤직,R&B,정규
7,시간을달려서,여자친구,6,그룹,2016-01-25,쏘스뮤직,댄스,EP
8,빨간맛,레드벨벳,5,그룹,2017-07-09,SM엔터테인먼트,댄스,EP
9,에너제틱,워너원,11,그룹,2017-08-07,"YMC엔터테인먼트, 스톤뮤직엔터테인먼트",댄스,EP

In [8]:
df.tail(10)

,title,singer,personnel,sortation,release_date,agency,genre,type
3,첫사랑니,f(x),5,그룹,2013-07-29,SM엔터테인먼트,댄스,정규
4,위아래,EXID,4,그룹,2014-08-27,바나나컬쳐,댄스,싱글
5,Ah-Choo,러블리즈,8,그룹,2015-10-01,울림엔터테인먼트,댄스,EP
6,피땀눈물,방탄소년단,7,그룹,2016-10-10,빅히트뮤직,R&B,정규
7,시간을달려서,여자친구,6,그룹,2016-01-25,쏘스뮤직,댄스,EP
8,빨간맛,레드벨벳,5,그룹,2017-07-09,SM엔터테인먼트,댄스,EP
9,에너제틱,워너원,11,그룹,2017-08-07,"YMC엔터테인먼트, 스톤뮤직엔터테인먼트",댄스,EP
10,뚜두뚜두,블랙핑크,4,그룹,2018-06-15,YG엔터테인먼트,댄스,EP
11,달라달라,있지,5,그룹,2019-02-12,JYP엔터테인먼트,댄스,싱글
12,Dynamite,방탄소년단,7,그룹,2020-08-21,빅히트뮤직,댄스,싱글

In [9]:
data_count=df.describe().get('count')
print(data_count)

None

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         13 non-null     object
 1   singer        13 non-null     object
 2   personnel     13 non-null     int64
 3   sortation     13 non-null     object
 4   release_date  13 non-null     object
 5   agency        13 non-null     object
 6   genre         13 non-null     object
 7   type          13 non-null     object
dtypes: int64(1), object(7)
memory usage: 964.0+ bytes

In [36]:
df.describe(include='object')

       title singer sortation release_date    agency genre type
count     13     13        13           13        13    13   13
unique    13     12         2           13         9     4    3
top      좋은날  방탄소년단        그룹   2010-12-09  YG엔터테인먼트    댄스   EP
freq       1      2        11            1         3    10    6

In [2]:
df.index

NameError: name 'df' is not defined

In [12]:
df.shape

(13, 8)

In [11]:
df.columns

Index(['title', 'singer', 'personnel', 'sortation', 'release_date', 'agency',
       'genre', 'type'],
      dtype='object')

In [13]:
df.dtypes

title           object
singer          object
personnel        int64
sortation       object
release_date    object
agency          object
genre           object
type            object
dtype: object

In [14]:
df.sort_values('release_date')

,title,singer,personnel,sortation,release_date,agency,genre,type
0,좋은날,아이유,1,솔로,2010-12-09,카카오엔터테인먼트,발라드,EP
1,내가제일잘나가,2NE1,4,그룹,2011-06-24,YG엔터테인먼트,댄스,싱글
2,강남스타일,싸이,1,솔로,2012-07-15,YG엔터테인먼트,힙합,정규
3,첫사랑니,f(x),5,그룹,2013-07-29,SM엔터테인먼트,댄스,정규
4,위아래,EXID,4,그룹,2014-08-27,바나나컬쳐,댄스,싱글
5,Ah-Choo,러블리즈,8,그룹,2015-10-01,울림엔터테인먼트,댄스,EP
7,시간을달려서,여자친구,6,그룹,2016-01-25,쏘스뮤직,댄스,EP
6,피땀눈물,방탄소년단,7,그룹,2016-10-10,빅히트뮤직,R&B,정규
8,빨간맛,레드벨벳,5,그룹,2017-07-09,SM엔터테인먼트,댄스,EP
9,에너제틱,워너원,11,그룹,2017-08-07,"YMC엔터테인먼트, 스톤뮤직엔터테인먼트",댄스,EP
10,뚜두뚜두,블랙핑크,4,그룹,2018-06-15,YG엔터테인먼트,댄스,EP
11,달라달라,있지,5,그룹,2019-02-12,JYP엔터테인먼트,댄스,싱글
12,Dynamite,방탄소년단,7,그룹,2020-08-21,빅히트뮤직,댄스,싱글

In [15]:
df.sort('title')

,title,singer,personnel,sortation,release_date,agency,genre,type
5,Ah-Choo,러블리즈,8,그룹,2015-10-01,울림엔터테인먼트,댄스,EP
12,Dynamite,방탄소년단,7,그룹,2020-08-21,빅히트뮤직,댄스,싱글
2,강남스타일,싸이,1,솔로,2012-07-15,YG엔터테인먼트,힙합,정규
1,내가제일잘나가,2NE1,4,그룹,2011-06-24,YG엔터테인먼트,댄스,싱글
11,달라달라,있지,5,그룹,2019-02-12,JYP엔터테인먼트,댄스,싱글
10,뚜두뚜두,블랙핑크,4,그룹,2018-06-15,YG엔터테인먼트,댄스,EP
8,빨간맛,레드벨벳,5,그룹,2017-07-09,SM엔터테인먼트,댄스,EP
7,시간을달려서,여자친구,6,그룹,2016-01-25,쏘스뮤직,댄스,EP
9,에너제틱,워너원,11,그룹,2017-08-07,"YMC엔터테인먼트, 스톤뮤직엔터테인먼트",댄스,EP
4,위아래,EXID,4,그룹,2014-08-27,바나나컬쳐,댄스,싱글
0,좋은날,아이유,1,솔로,2010-12-09,카카오엔터테인먼트,발라드,EP
3,첫사랑니,f(x),5,그룹,2013-07-29,SM엔터테인먼트,댄스,정규
6,피땀눈물,방탄소년단,7,그룹,2016-10-10,빅히트뮤직,R&B,정규

In [16]:
df.sort_values(['personnel','singer']).head()

      title singer  personnel sortation release_date     agency genre type
2     강남스타일     싸이          1        솔로   2012-07-15   YG엔터테인먼트    힙합   정규
0       좋은날    아이유          1        솔로   2010-12-09  카카오엔터테인먼트   발라드   EP
1   내가제일잘나가   2NE1          4        그룹   2011-06-24   YG엔터테인먼트    댄스   싱글
4       위아래   EXID          4        그룹   2014-08-27      바나나컬쳐    댄스   싱글
10     뚜두뚜두   블랙핑크          4        그룹   2018-06-15   YG엔터테인먼트    댄스   EP

In [17]:
cnt = df['agency'].value_counts()
pd.DataFrame(cnt)

                       count
agency
YG엔터테인먼트                   3
SM엔터테인먼트                   2
빅히트뮤직                      2
카카오엔터테인먼트                  1
바나나컬쳐                      1
울림엔터테인먼트                   1
쏘스뮤직                       1
YMC엔터테인먼트, 스톤뮤직엔터테인먼트      1
JYP엔터테인먼트                  1

In [18]:
df['agency'].unique()

array(['카카오엔터테인먼트', 'YG엔터테인먼트', 'SM엔터테인먼트', '바나나컬쳐', '울림엔터테인먼트', '빅히트뮤직',
       '쏘스뮤직', 'YMC엔터테인먼트, 스톤뮤직엔터테인먼트', 'JYP엔터테인먼트'], dtype=object)

In [20]:
import pandas as pd
filename = 'data/Machine_Learning/weather.xlsx'
df = pd.read_excel(filename)
df.head()

          날짜  평균기온  최저기온  최고기온
0 2022-06-01  22.1  16.2  28.6
1 2022-06-02  21.5  17.1  26.9
2 2022-06-03  24.5  18.7  32.6
3 2022-06-04  25.6  20.3  29.7
4 2022-06-05  22.7  20.2  27.0

In [21]:
df['평균기온']

0     22.1
1     21.5
2     24.5
3     25.6
4     22.7
5     19.7
6     20.6
7     21.2
8     20.9
9     20.9
10    24.6
11    24.6
12    23.6
13    21.5
14    17.5
15    20.3
16    22.5
17    23.3
18    23.4
19    25.2
20    26.5
21    25.9
22    24.3
23    22.6
24    26.0
25    26.5
26    26.8
27    26.9
28    25.1
29    22.3
Name: 평균기온, dtype: float64

In [22]:
df[['최저기온','최고기온']]

    최저기온  최고기온
0   16.2  28.6
1   17.1  26.9
2   18.7  32.6
3   20.3  29.7
4   20.2  27.0
5   16.7  24.5
6   15.1  25.1
7   16.2  25.8
8   18.5  24.5
9   17.2  26.6
10  17.7  32.7
11  18.9  31.5
12  19.6  29.2
13  17.7  27.1
14  14.9  20.1
15  17.6  24.8
16  16.5  28.1
17  22.0  25.1
18  22.3  25.1
19  22.0  29.0
20  21.2  32.6
21  21.9  31.0
22  23.3  26.4
23  20.6  24.9
24  21.5  30.5
25  24.8  28.1
26  25.4  28.1
27  25.7  27.9
28  24.4  26.1
29  21.2  24.5

In [24]:
df.loc[0:2,['날짜','최고기온']]

          날짜  최고기온
0 2022-06-01  28.6
1 2022-06-02  26.9
2 2022-06-03  32.6

In [25]:
df.loc[df['평균기온']>=25]

           날짜  평균기온  최저기온  최고기온
3  2022-06-04  25.6  20.3  29.7
19 2022-06-20  25.2  22.0  29.0
20 2022-06-21  26.5  21.2  32.6
21 2022-06-22  25.9  21.9  31.0
24 2022-06-25  26.0  21.5  30.5
25 2022-06-26  26.5  24.8  28.1
26 2022-06-27  26.8  25.4  28.1
27 2022-06-28  26.9  25.7  27.9
28 2022-06-29  25.1  24.4  26.1

In [29]:
df.index=df['날짜']
df.loc['2022-06-05',['최저기온','최고기온']]

최저기온    20.2
최고기온    27.0
Name: 2022-06-05 00:00:00, dtype: object

In [30]:
df.loc[df['평균기온']>=25,['최저기온','최고기온']]

            최저기온  최고기온
날짜
2022-06-04  20.3  29.7
2022-06-20  22.0  29.0
2022-06-21  21.2  32.6
2022-06-22  21.9  31.0
2022-06-25  21.5  30.5
2022-06-26  24.8  28.1
2022-06-27  25.4  28.1
2022-06-28  25.7  27.9
2022-06-29  24.4  26.1

In [33]:
w = df['최고기온'] >=30
print(w)
df[w]

날짜
2022-06-01    False
2022-06-02    False
2022-06-03     True
2022-06-04    False
2022-06-05    False
2022-06-06    False
2022-06-07    False
2022-06-08    False
2022-06-09    False
2022-06-10    False
2022-06-11     True
2022-06-12     True
2022-06-13    False
2022-06-14    False
2022-06-15    False
2022-06-16    False
2022-06-17    False
2022-06-18    False
2022-06-19    False
2022-06-20    False
2022-06-21     True
2022-06-22     True
2022-06-23    False
2022-06-24    False
2022-06-25     True
2022-06-26    False
2022-06-27    False
2022-06-28    False
2022-06-29    False
2022-06-30    False
Name: 최고기온, dtype: bool

                   날짜  평균기온  최저기온  최고기온
날짜
2022-06-03 2022-06-03  24.5  18.7  32.6
2022-06-11 2022-06-11  24.6  17.7  32.7
2022-06-12 2022-06-12  24.6  18.9  31.5
2022-06-21 2022-06-21  26.5  21.2  32.6
2022-06-22 2022-06-22  25.9  21.9  31.0
2022-06-25 2022-06-25  26.0  21.5  30.5

In [34]:
w = df['최고기온']>=30
df[w][['최저기온','최고기온']]

            최저기온  최고기온
날짜
2022-06-03  18.7  32.6
2022-06-11  17.7  32.7
2022-06-12  18.9  31.5
2022-06-21  21.2  32.6
2022-06-22  21.9  31.0
2022-06-25  21.5  30.5

In [96]:
w = df['최고기온']==df['최고기온'].max()

df[w]

KeyError: '최고기온'

In [37]:
w = df['최고기온']-df['최저기온'] >=10
df[w]

                   날짜  평균기온  최저기온  최고기온
날짜
2022-06-01 2022-06-01  22.1  16.2  28.6
2022-06-03 2022-06-03  24.5  18.7  32.6
2022-06-07 2022-06-07  20.6  15.1  25.1
2022-06-11 2022-06-11  24.6  17.7  32.7
2022-06-12 2022-06-12  24.6  18.9  31.5
2022-06-17 2022-06-17  22.5  16.5  28.1
2022-06-21 2022-06-21  26.5  21.2  32.6

In [62]:
import pandas as pd
filename = 'data/Machine_Learning/music.csv'
df = pd.read_csv(filename)
df.dtypes

title           object
singer          object
personnel        int64
sortation       object
release_date    object
agency          object
genre           object
type            object
dtype: object

In [63]:
df.drop(['agency','type',],axis=1,inplace=True)
df.columns

Index(['title', 'singer', 'personnel', 'sortation', 'release_date', 'genre'], dtype='object')

In [64]:
df.columns = ['제목','가수','인원수','구분','발매일','장르']
df.head()

        제목    가수  인원수  구분         발매일   장르
0      좋은날   아이유    1  솔로  2010-12-09  발라드
1  내가제일잘나가  2NE1    4  그룹  2011-06-24   댄스
2    강남스타일    싸이    1  솔로  2012-07-15   힙합
3     첫사랑니  f(x)    5  그룹  2013-07-29   댄스
4      위아래  EXID    4  그룹  2014-08-27   댄스

In [65]:
df.dtypes

제목     object
가수     object
인원수     int64
구분     object
발매일    object
장르     object
dtype: object

In [66]:
df['발매일'] = pd.to_datetime(df['발매일'], format='%Y-%m-%d',errors='raise')
df['년도']=df['발매일'].dt.year
df['월']=df['발매일'].dt.month
df['일']=df['발매일'].dt.day
df.head()

        제목    가수  인원수  구분        발매일   장르    년도   월   일
0      좋은날   아이유    1  솔로 2010-12-09  발라드  2010  12   9
1  내가제일잘나가  2NE1    4  그룹 2011-06-24   댄스  2011   6  24
2    강남스타일    싸이    1  솔로 2012-07-15   힙합  2012   7  15
3     첫사랑니  f(x)    5  그룹 2013-07-29   댄스  2013   7  29
4      위아래  EXID    4  그룹 2014-08-27   댄스  2014   8  27

In [67]:
newdata = df.groupby('장르').count()
pd.DataFrame(newdata['인원수'])

     인원수
장르
R&B    1
댄스    10
발라드    1
힙합     1

In [79]:
newdata = df.drop('발매일',axis=1).groupby(['구분','장르']).sum()
pd.DataFrame(newdata['인원수'])

        인원수
구분 장르
그룹 R&B    7
   댄스    59
솔로 발라드    1
   힙합     1

In [84]:
import pandas as pd
filename = 'data/Machine_Learning/train.csv'
df = pd.read_csv(filename)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [81]:
df[df['Embarked'].isna()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN

In [90]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [91]:
df.drop('',axis=1,inplace=True)
df.columns

KeyError: "['Cabin'] not found in axis"

In [92]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [93]:
df['Embarked'].mode

<bound method Series.mode of 0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object>

In [94]:
df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         0
dtype: int64

In [95]:
avg = df['Age'].mean()
df['Age'] = df['Age'].fillna(avg)
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64