In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {"a":[4,5,6,7],
     "b":[8,9,10,11],
     "c":[1,2,3,4]},
    index=[1,2,3,4]
)

In [3]:
df

   a   b  c
1  4   8  1
2  5   9  2
3  6  10  3
4  7  11  4

In [4]:
#인덱스 값 없으면 0부터 시작한다..!!
df = pd.DataFrame(
    {"a":[4,5,6,7],
     "b":[8,9,10,11],
     "c":[1,2,3,4]},

)

In [5]:
df

   a   b  c
0  4   8  1
1  5   9  2
2  6  10  3
3  7  11  4

In [6]:
df = pd.DataFrame(
    [[4,8,12],
     [5,9,13],
     [6,10,14],
     [7,11,15]],
    index=[1,2,3,4],
    columns=['a','b','c']
)

In [7]:
df

   a   b   c
1  4   8  12
2  5   9  13
3  6  10  14
4  7  11  15

In [8]:
df = pd.DataFrame(
    {'a':[4,5,6,7],
     'b':[8,9,10,11],
     'c':[12,13,14,15]},
    index=pd.MultiIndex.from_tuples(#인덱스를 튜플로 지정
        [('d',1),('d',2),('e',1),('e',2)],
        names=['n','v']
    )
)

In [9]:
df

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

In [10]:
df.sort_values('a',ascending=False)

     a   b   c
n v
e 2  7  11  15
  1  6  10  14
d 2  5   9  13
  1  4   8  12

In [11]:
df.rename(columns={'c':'d'}) #c열 이름을 d로 변경

     a   b   d
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

In [12]:
df.reset_index()

   n  v  a   b   c
0  d  1  4   8  12
1  d  2  5   9  13
2  e  1  6  10  14
3  e  2  7  11  15

In [13]:
df.sort_index() #원래대로 돌아온다

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

In [14]:
df.drop(columns=['a','b'])

      c
n v
d 1  12
  2  13
e 1  14
  2  15

In [15]:
df.head(2)

     a  b   c
n v
d 1  4  8  12
  2  5  9  13

In [16]:
df.tail(2)

     a   b   c
n v
e 1  6  10  14
  2  7  11  15

In [17]:
#a열중 6이 있는 경우 해당 행을 추출
df[df['a']==6]

     a   b   c
n v
e 1  6  10  14

In [18]:
df[df['a']>4]

     a   b   c
n v
d 2  5   9  13
e 1  6  10  14
  2  7  11  15

In [19]:
df[df['a']!=5]

     a   b   c
n v
d 1  4   8  12
e 1  6  10  14
  2  7  11  15

In [20]:
df[df['a'].isin([4,6])] #리스트 형식으로 있는것을 찾는다

     a   b   c
n v
d 1  4   8  12
e 1  6  10  14

In [21]:
df.sample(frac=0.75)

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 2  7  11  15

In [22]:
df.sample(n=3)

     a   b   c
n v
e 1  6  10  14
d 2  5   9  13
e 2  7  11  15

In [23]:
df.nlargest(3,'a')

     a   b   c
n v
e 2  7  11  15
  1  6  10  14
d 2  5   9  13

In [24]:
df.nsmallest(3,'a')

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14

In [25]:
df.iloc[1:4]

     a   b   c
n v
d 2  5   9  13
e 1  6  10  14
  2  7  11  15

In [26]:
df.iloc[2:]

     a   b   c
n v
e 1  6  10  14
  2  7  11  15

In [27]:
df.iloc[:3]

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14

In [28]:
df.iloc[:]

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

In [29]:
df[['a','b']]

     a   b
n v
d 1  4   8
  2  5   9
e 1  6  10
  2  7  11

In [30]:
#열이름에 c라는 문자가 포함되어 있으면!!
df.filter(regex='c')

      c
n v
d 1  12
  2  13
e 1  14
  2  15

In [31]:
#라는 문자가 포함안된열 ^의미는 아니면 의미 .*의미는 뒤에는 아무거나 다 !!!!!!!
df.filter(regex='^(?!c$).*')

     a   b
n v
d 1  4   8
  2  5   9
e 1  6  10
  2  7  11

In [32]:
#모든인덱스에서 a~c열까지 가져오기
df.loc[:,'a':'c']

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

In [33]:
#0~2인덱스 0열+2번째열
df.iloc[0:3,[0,2]]

     a   c
n v
d 1  4  12
  2  5  13
e 1  6  14

In [34]:
# a열의 값이 5보다 큰경우에 a,c만 가져오기
df.loc[df['a']>5,['a','c']]

     a   c
n v
e 1  6  14
  2  7  15

In [35]:
df.iloc[0:3,[0,2]]

     a   c
n v
d 1  4  12
  2  5  13
e 1  6  14

In [36]:
df.loc[df['a']>5,['a','c']]

     a   c
n v
e 1  6  14
  2  7  15

In [37]:
#특정값 가져오기 1번째 인댁스 2번째열

df.iat[1,2]

13

In [38]:
df

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

In [43]:
df = pd.DataFrame({
    'a':[4,5,6,7,7],
    'b':[8,9,10,11,11],
    'c':[12,13,14,15,15]},
    index=pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',1),('e',2),('e',3)],
        names=['n','v']
    )
)
df

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15
  3  7  11  15

In [41]:
df['a'].value_counts()

a
7    2
4    1
5    1
6    1
Name: count, dtype: int64

In [42]:
len(df)

5

In [44]:
df.shape

(5, 3)

In [45]:
df['a'].nunique()

4

In [46]:
df.describe()

             a         b         c
count  5.00000   5.00000   5.00000
mean   5.80000   9.80000  13.80000
std    1.30384   1.30384   1.30384
min    4.00000   8.00000  12.00000
25%    5.00000   9.00000  13.00000
50%    6.00000  10.00000  14.00000
75%    7.00000  11.00000  15.00000
max    7.00000  11.00000  15.00000

In [48]:
df = df.drop_duplicates()
df

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

In [49]:
df.sum()

a    22
b    38
c    54
dtype: int64

In [50]:
df.count()

a    4
b    4
c    4
dtype: int64

In [51]:
df.median()

a     5.5
b     9.5
c    13.5
dtype: float64

In [52]:
df['b'].mean()

9.5

In [53]:
df.quantile([0.25,0.75])

         a      b      c
0.25  4.75   8.75  12.75
0.75  6.25  10.25  14.25

In [54]:
df.min()

a     4
b     8
c    12
dtype: int64

In [56]:
df.max()

a     7
b    11
c    15
dtype: int64

In [57]:
df.std()

a    1.290994
b    1.290994
c    1.290994
dtype: float64

In [58]:
import  numpy as np
df.apply(np.sqrt)

            a         b         c
n v
d 1  2.000000  2.828427  3.464102
  2  2.236068  3.000000  3.605551
e 1  2.449490  3.162278  3.741657
  2  2.645751  3.316625  3.872983

In [74]:
df = pd.DataFrame(
    {'a':[4,5,6,np.nan],
     'b':[7,8,np.nan,9],
     'c':[10,np.nan,11,12]},
    index=pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',1),('e',2)],
        names=['n','v']
    )
)
df

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0   NaN
e 1  6.0  NaN  11.0
  2  NaN  9.0  12.0

In [61]:
pd.isnull(df)

         a      b      c
n v
d 1  False  False  False
  2  False  False   True
e 1  False   True  False
  2   True  False  False

In [62]:
pd.notnull(df)

         a      b      c
n v
d 1   True   True   True
  2   True   True  False
e 1   True  False   True
  2  False   True   True

In [63]:
df_notnull = df.dropna()

In [65]:
df_notnull

       a    b     c
n v
d 1  4.0  7.0  10.0

In [66]:
df_fillna = df.fillna(13)
df_fillna

        a     b     c
n v
d 1   4.0   7.0  10.0
  2   5.0   8.0  13.0
e 1   6.0  13.0  11.0
  2  13.0   9.0  12.0

In [79]:
df_fillna_mean = df.fillna(df['a'].mean())
df_fillna_mean
df = pd.DataFrame(
    {'a':[4,5,6,7],
     'b':[8,9,10,11],
     'c':[12,13,14,15]},
    index=pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',1),('e',2)],
        names=['n','v']
    )
)

In [80]:
df['sum'] = df['a']+df['b']+df['c']

In [81]:
df

     a   b   c  sum
n v
d 1  4   8  12   24
  2  5   9  13   27
e 1  6  10  14   30
  2  7  11  15   33

In [82]:
df = df.assign(multiply=lambda  df: df['a']*df['b']*df['c'])
df

     a   b   c  sum  multiply
n v
d 1  4   8  12   24       384
  2  5   9  13   27       585
e 1  6  10  14   30       840
  2  7  11  15   33      1155

In [83]:
df['qcut'] = pd.qcut(df['a'],2,labels=['600이하','600이상'])
#그냥 반갈죽 한거다 ...

In [85]:
df

     a   b   c  sum  multiply   qcut
n v
d 1  4   8  12   24       384  600이하
  2  5   9  13   27       585  600이하
e 1  6  10  14   30       840  600이상
  2  7  11  15   33      1155  600이상

In [86]:
#a 열에서 5이하는 전무 5로 6이상은 6으로 변환
df['clip']=df['a'].clip(lower=5,upper=6)

In [87]:
df

     a   b   c  sum  multiply   qcut  clip
n v
d 1  4   8  12   24       384  600이하     5
  2  5   9  13   27       585  600이하     5
e 1  6  10  14   30       840  600이상     6
  2  7  11  15   33      1155  600이상     6

In [88]:
df.max(axis=0)

a               7
b              11
c              15
sum            33
multiply     1155
qcut        600이상
clip            6
dtype: object

In [89]:
df.min(axis=0)

a               4
b               8
c              12
sum            24
multiply      384
qcut        600이하
clip            5
dtype: object

In [96]:
df = pd.DataFrame({'A':{0:'a',1:'b',2:'c'},
                  'B':{0:1,1:3,2:5},
                  'C':{0:2,1:4,2:6}})

In [97]:
df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [98]:
pd.melt(df)

  variable value
0        A     a
1        A     b
2        A     c
3        B     1
4        B     3
5        B     5
6        C     2
7        C     4
8        C     6

In [99]:
pd.melt(df, id_vars=['A'],value_vars=['B'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5

In [100]:
df_melt = pd.melt(df,id_vars=['A'],value_vars=['B','C'])

In [101]:
df_melt

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6

In [102]:
df_pivot = df_melt.pivot(index='A',columns='variable',values='value')

In [103]:
df_pivot

variable  B  C
A
a         1  2
b         3  4
c         5  6

In [104]:
df_origin = df_pivot.reset_index()
df_origin.columns.name=None

In [105]:
df_origin

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [108]:
s1 = pd.Series(['a','b'])

In [109]:
s1

0    a
1    b
dtype: object

In [110]:
s2 = pd.Series(['a','b'])
s2

0    a
1    b
dtype: object

In [111]:
pd.concat([s1,s2])

0    a
1    b
0    a
1    b
dtype: object

In [112]:
pd.concat([s1,s2],ignore_index=True)

0    a
1    b
2    a
3    b
dtype: object

In [113]:
pd.concat([s1,s2],
          keys=['s1','s2'],
          names=['Series name','Row id'])

Series name  Row id
s1           0         a
             1         b
s2           0         a
             1         b
dtype: object

In [116]:
df1 = pd.DataFrame([['a',1],
                    ['b',2]],
                   columns=['letter','number'])
df1

  letter  number
0      a       1
1      b       2

In [117]:
df2 = pd.DataFrame([['c',3],
                    ['d',4]],
                   columns=['letter','number'])
df2

  letter  number
0      c       3
1      d       4

In [118]:
df3 = pd.DataFrame([['c',3,'cat'],
                    ['d',4,'dog']],
                   columns=['letter','number','animal'])
df3

  letter  number animal
0      c       3    cat
1      d       4    dog

In [119]:
df4 = pd.DataFrame([['bird','polly'],
                    ['monkey','george']],
                   columns=['animal','name'])
df4

   animal    name
0    bird   polly
1  monkey  george

In [120]:
pd.concat([df1,df2])

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [121]:
pd.concat([df1,df3])

  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

In [122]:
pd.concat([df1,df3],join='inner')

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [123]:
pd.concat([df1,df4],axis=1)

  letter  number  animal    name
0      a       1    bird   polly
1      b       2  monkey  george

In [124]:
adf = pd.DataFrame({'x1':['A','B','C']
                    ,'x2':[1,2,3]})
adf

  x1  x2
0  A   1
1  B   2
2  C   3

In [125]:
bdf = pd.DataFrame({'x1':['A','B','D']
                    ,'x3':['T','F','T']})
bdf

  x1 x3
0  A  T
1  B  F
2  D  T

In [126]:
cdf = pd.DataFrame({'x1':['B','C','D']
                    ,'x2':[2,3,4]})
cdf

  x1  x2
0  B   2
1  C   3
2  D   4

In [127]:
pd.merge(adf,bdf,how='left',on='x1')

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

In [128]:
pd.merge(adf,bdf,how='right',on='x1')

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

In [129]:
pd.merge(adf,bdf,how='inner',on='x1')

  x1  x2 x3
0  A   1  T
1  B   2  F

In [130]:
pd.merge(adf,bdf,how='outer',on='x1')

  x1   x2   x3
0  A  1.0    T
1  B  2.0    F
2  C  3.0  NaN
3  D  NaN    T

In [131]:
adf[adf.x1.isin(bdf.x1)]

  x1  x2
0  A   1
1  B   2

In [133]:
adf[~adf.x1.isin(bdf.x1)]

  x1  x2
2  C   3

In [134]:
pd.merge(adf,cdf)

  x1  x2
0  B   2
1  C   3

In [135]:
pd.merge(adf,cdf,how='outer')
#outer은 전부 병합의미

  x1  x2
0  A   1
1  B   2
2  C   3
3  D   4

In [136]:
pd.merge(adf,cdf,how='outer',indicator=True)
#어떻게 병합되는지 보기

  x1  x2      _merge
0  A   1   left_only
1  B   2        both
2  C   3        both
3  D   4  right_only

In [138]:
pd.merge(adf,cdf,how='outer',indicator=True).query('_merge=="left_only"')

  x1  x2     _merge
0  A   1  left_only

In [139]:
pd.merge(adf,cdf,how='outer',indicator=True).query('_merge=="left_only"').drop(columns='_merge')

  x1  x2
0  A   1

In [146]:
df = pd.DataFrame(
    {'a':[4,5,6,7],
     'b':[8,9,10,11],
     'c':[12,13,14,15]},
    index=[1,2,3,4]
)

In [147]:
df

   a   b   c
1  4   8  12
2  5   9  13
3  6  10  14
4  7  11  15

In [148]:
df.shift(1)

     a     b     c
1  NaN   NaN   NaN
2  4.0   8.0  12.0
3  5.0   9.0  13.0
4  6.0  10.0  14.0

In [149]:
df.shift(-1)

     a     b     c
1  5.0   9.0  13.0
2  6.0  10.0  14.0
3  7.0  11.0  15.0
4  NaN   NaN   NaN

In [144]:
df.cumsum()

    a   b   c
1   4   8  12
2   9  17  25
3  15  87  39
4  22  98  54

In [150]:
df.cummax()

   a   b   c
1  4   8  12
2  5   9  13
3  6  10  14
4  7  11  15

In [151]:
df.cummin()

   a  b   c
1  4  8  12
2  4  8  12
3  4  8  12
4  4  8  12

In [152]:
df.cumprod()

     a     b      c
1    4     8     12
2   20    72    156
3  120   720   2184
4  840  7920  32760

In [153]:
!git clone https://github.com/taehojo/data.git

Cloning into 'data'...

In [178]:
df = pd.read_csv('../data\Machine_Learning/house_train.csv')

In [179]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [181]:
df.groupby(by='YrSold').size()

YrSold
2006    314
2007    329
2008    304
2009    338
2010    175
dtype: int64

In [183]:
df.groupby(by='YrSold')['LotArea'].mean()

YrSold
2006    10489.458599
2007    10863.686930
2008    10587.687500
2009    10294.248521
2010    10220.645714
Name: LotArea, dtype: float64

In [184]:
df['SalePrice'].rank(method='dense')

0       413.0
1       340.0
2       443.0
3       195.0
4       495.0
        ...
1455    315.0
1456    416.0
1457    528.0
1458    200.0
1459    222.0
Name: SalePrice, Length: 1460, dtype: float64

In [185]:
df['SalePrice'].rank(method='min')

0       1072.0
1        909.0
2       1135.0
3        490.0
4       1236.0
         ...
1455     828.0
1456    1076.0
1457    1285.0
1458     524.0
1459     591.0
Name: SalePrice, Length: 1460, dtype: float64

In [186]:
df['SalePrice'].rank(pct=True)

0       0.734247
1       0.622603
2       0.777740
3       0.342123
4       0.848973
          ...
1455    0.569863
1456    0.738356
1457    0.880137
1458    0.358904
1459    0.404795
Name: SalePrice, Length: 1460, dtype: float64

In [187]:
df['SalePrice'].rank(method='first')

0       1072.0
1        909.0
2       1135.0
3        490.0
4       1236.0
         ...
1455     836.0
1456    1080.0
1457    1285.0
1458     524.0
1459     591.0
Name: SalePrice, Length: 1460, dtype: float64