In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {"a":[4,5,6,7],
     "b":[8,9,10,11],
     "c":[1,2,3,4]},
    index=[1,2,3,4]
)

In [3]:
df

   a   b  c
1  4   8  1
2  5   9  2
3  6  10  3
4  7  11  4

In [6]:
#인덱스 값 없으면 0부터 시작한다..!!
df = pd.DataFrame(
    {"a":[4,5,6,7],
     "b":[8,9,10,11],
     "c":[1,2,3,4]},

)

In [7]:
df

   a   b  c
0  4   8  1
1  5   9  2
2  6  10  3
3  7  11  4

In [10]:
df = pd.DataFrame(
    [[4,8,12],
     [5,9,13],
     [6,10,14],
     [7,11,15]],
    index=[1,2,3,4],
    columns=['a','b','c']
)

In [11]:
df

   a   b   c
1  4   8  12
2  5   9  13
3  6  10  14
4  7  11  15

In [12]:
df = pd.DataFrame(
    {'a':[4,5,6,7],
     'b':[8,9,10,11],
     'c':[12,13,14,15]},
    index=pd.MultiIndex.from_tuples(#인덱스를 튜플로 지정
        [('d',1),('d',2),('e',1),('e',2)],
        names=['n','v']
    )
)

In [13]:
df

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

In [14]:
df.sort_values('a',ascending=False)

     a   b   c
n v
e 2  7  11  15
  1  6  10  14
d 2  5   9  13
  1  4   8  12

In [15]:
df.rename(columns={'c':'d'}) #c열 이름을 d로 변경

     a   b   d
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

In [16]:
df.reset_index()

   n  v  a   b   c
0  d  1  4   8  12
1  d  2  5   9  13
2  e  1  6  10  14
3  e  2  7  11  15

In [17]:
df.sort_index() #원래대로 돌아온다

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

In [18]:
df.drop(columns=['a','b'])

      c
n v
d 1  12
  2  13
e 1  14
  2  15

In [20]:
df.head(2)

     a  b   c
n v
d 1  4  8  12
  2  5  9  13

In [21]:
df.tail(2)

     a   b   c
n v
e 1  6  10  14
  2  7  11  15

In [22]:
#a열중 6이 있는 경우 해당 행을 추출
df[df['a']==6]

     a   b   c
n v
e 1  6  10  14

In [24]:
df[df['a']>4]

     a   b   c
n v
d 2  5   9  13
e 1  6  10  14
  2  7  11  15

In [25]:
df[df['a']!=5]

     a   b   c
n v
d 1  4   8  12
e 1  6  10  14
  2  7  11  15

In [28]:
df[df['a'].isin([4,6])] #리스트 형식으로 있는것을 찾는다

     a   b   c
n v
d 1  4   8  12
e 1  6  10  14

In [29]:
df.sample(frac=0.75)

     a   b   c
n v
e 2  7  11  15
d 1  4   8  12
e 1  6  10  14

In [30]:
df.sample(n=3)

     a   b   c
n v
e 1  6  10  14
d 2  5   9  13
e 2  7  11  15

In [31]:
df.nlargest(3,'a')

     a   b   c
n v
e 2  7  11  15
  1  6  10  14
d 2  5   9  13

In [32]:
df.nsmallest(3,'a')

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14

In [34]:
df.iloc[1:4]

     a   b   c
n v
d 2  5   9  13
e 1  6  10  14
  2  7  11  15

In [35]:
df.iloc[2:]

     a   b   c
n v
e 1  6  10  14
  2  7  11  15

In [36]:
df.iloc[:3]

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14

In [37]:
df.iloc[:]

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

In [38]:
df[['a','b']]

     a   b
n v
d 1  4   8
  2  5   9
e 1  6  10
  2  7  11

In [39]:
#열이름에 c라는 문자가 포함되어 있으면!!
df.filter(regex='c')

      c
n v
d 1  12
  2  13
e 1  14
  2  15

In [40]:
#라는 문자가 포함안된열 ^의미는 아니면 의미 .*의미는 뒤에는 아무거나 다 !!!!!!!
df.filter(regex='^(?!c$).*')

     a   b
n v
d 1  4   8
  2  5   9
e 1  6  10
  2  7  11

In [41]:
#모든인덱스에서 a~c열까지 가져오기
df.loc[:,'a':'c']

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

In [42]:
#0~2인덱스 0열+2번째열
df.iloc[0:3,[0,2]]

     a   c
n v
d 1  4  12
  2  5  13
e 1  6  14

In [43]:
# a열의 값이 5보다 큰경우에 a,c만 가져오기
df.loc[df['a']>5,['a','c']]

     a   c
n v
e 1  6  14
  2  7  15

In [44]:
df.iloc[0:3,[0,2]]

     a   c
n v
d 1  4  12
  2  5  13
e 1  6  14

In [45]:
df.loc[df['a']>5,['a','c']]

     a   c
n v
e 1  6  14
  2  7  15

In [47]:
#특정값 가져오기 1번째 인댁스 2번째열

df.iat[1,2]

13

In [48]:
df

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15